<body id="start">

<div class="headline">

<ul class="media-list">
  <% @blogs.each do |blog| %>
  <li class="media">
    <a href="#">
      <%= image_tag "favicon.jpg" %>
    </a>
    <div class="media-body">
     <h4 class="media-heading"><%= link_to blog.activity_name, blog %></h4>
      <%= blog.description %>
    </div>
  </li>
  <% end %>
</ul>
</div>
<h3 class = "pull-right"><%= link_to 'New Sclog Post', new_blog_path %></h3>

</body>



