
 <div class="navbar">
  <ul class="nav navbar-nav">
    <li class="navfont"><a href="/">Home</a></li>
    <li class="navfont"><a href="/start">Your Sclog</a></li>
    <li class="navfont"><a href="/ideas">Sclog Inspiration</a></li>
    <li class="navfont selected"><a href="/blogs">Sclog Blog</a></li>
  </ul>
</div>

<div class="container">



<ul class="media-list">
  <% @blogs.each do |blog| %>
  <li class="media">
    <a class="pull-left" href="#">
      <%= image_tag "favicon.jpg" %>
    </a>
    <div class="media-body">
     <h4 class="media-heading"><%= link_to blog.activity_name, blog %></h4>
      <%= blog.description %>
    </div>
  </li>
  <% end %>
</ul>


<%= link_to 'New Sclog Post', new_blog_path %>

</div>
