
 <div class="navbar">
  <a class="navbar-brand navfont" href="#">SCLOG</a>
  <ul class="nav navbar-nav">
    <li class="navfont"><a href="/">Home</a></li>
    <li class="navfont"><a href="/start">Your Sclog</a></li>
    <li class="navfont"><a href="/ideas">Sclog Inspiration</a></li>
    <li class="navfont selected"><a href="/blogs">Sclog Blog</a></li>
  </ul>
</div>

<h2>New blog post</h2>

<%= render 'form' %>

<%= link_to 'Back', blogs_path %>
