<body id="blog">
<br>
<br>
 <div class="headline" style="background: url('assets/scrapbook.jpg'); background-size: 24%" ;>
<h1 class="important">Coming<span class="frontpage">soon</span>!</h1>
</body>