
 <%= stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => true %>


    <div class="navbar">
  <ul class="nav navbar-nav">
    <li class="navfont selected"><a href="/">Home</a></li>
    <li class="navfont"><a href="/start">Your Sclog</a></li>
    <li class="navfont"><a href="/ideas">Sclog Inspiration</a></li>
    <li class="navfont"><a href="/blogs">Sclog Blog</a></li>
  </ul>
</div>

 <div class=" headline">
<center><h1>Discover and Explore</h1>
<br>
<br>
<br>
<br>
<br>
 <h1>Super-Curricular</h1>
<br>
<br>
<br>
<br>
<br>
 <h1>with <span class="important">Sclogs</span></h1></center>
</div>
<div class="container">
<h2>Not sure what <span class="important">super-curricular activities</span>  are<span class="qmark">?</span></h2>

<p>You’ve probably heard of ‘extracurricular activities’, and probably do a few of them yourself.</p> 
<p>The ‘extra’ refers to an activity being outside of your regular curriculum, e.g. doing a sport or playing an instrument.</p>
<p>Supercurricular activities are those that take your regular curriculum further.</p> 
<p>They take the subjects you study in the classroom beyond that which your teacher has taught you or what you’ve done for homework.</p>

<h2>Want some <span class="important">examples</span><span class="qmark">?</span></h2> 
<p>•   Read another book by an author you enjoyed in class</p>
<p>•   Write an article about an idea you thought up while doing your homework</p>
<p>•   Organise a debate amongst your friends on a topical issue </p>

<h2>Why are supercurricular activities <span class="important">important</span><span class="qmark">?</span></h2>
<p>Pursing super-curricular activites will turn you into a confident independent learner.<p>
<p> This will put you in good stead when it comes to applying to sixth form college, intenrships, and university.<p>
<p> You'll develop an open-minded approach to life that will serve you well in the future whichever path you take!<p>

<h2>What is a <span class="important">Sclog</span><span class="qmark">?</span></h2>
<p>A Sclog is your online record of all the super-curricular activites you take part in.</p>
<p>Sclog comes from 'Super-Curricular Logbook'
<p>With a Sclog, not only can you easily come back to new ideas, you can more easily share what you're up to with friends and get them involved!<p>


<h2>What are the <span class="important">basic guidelines</span><span class="qmark">?</span></h2>
<p>•   Follow your interests</p>
 

<p>•   Be open minded</p>


<p>•   Find connections</p>


<p>•   Think actively</p>


<p>•   Share!</p>


<h2>Ready to get <span class="important">involved</span><span class="qmark">?</span></h2>
<p>Start your Sclog <a class="navfont" href="/start">here!</a></p>

