<body id="home">
 <%= stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => true %>


 <div class="headline" style="background-image: url(<%= image_url('scrapbook.jpg') %>); background-size: 14.5%" ;>
<h1 class="important">Discover and Explore Super-Curriculars with <a href="/start"><span class="frontpage">Sclogs!</span></a></h1>



</body>
