<body id="home">
 <%= stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => true %>


 <div class=" headline">
<h1>Discover and Explore</h1>

 <h1>Super-Curricular</h1>

 <h1>with <a href="/start"><span class="important">Sclogs!</span></a></h1>



</body>

