
 <%= stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => true %>

 <div class="container">
    <div class="navbar">
  <a class="navbar-brand" href="#">SCLOG</a>
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="#">Your Sclog</a></li>
    <li class="active"><a href="#">Sclog Inspiration</a></li>
    <li><a href="#">Sclog Blog</a></li>
  </ul>
</div>
