<body id="ideas">
 <%= stylesheet_link_tag    "ideas", media: "all", "data-turbolinks-track" => true %>
 <div class="container">
<h3>Here are some resources to get you started...</h3>
<br>
<div class ="headline">
<h4><a href="http://www.bankofengland.co.uk/education/Pages/default.aspx">Bank of England</a></h4>
<h4><a href="http://cainesarcade.com/">Caine's Arcarde</a></h4>

<h4><a href="http://codecademy.com">Codecademy</a></h4>
<h4><a href="http://coursera.org/">Coursera</a></h4>
<h4><a href="http://www.discoveranthropology.org.uk/">Discover Anthropology</a></h4>
<h4><a href="http://duolingo.com">Duolingo</a></h4>
<h4><a href="http://www.justiceharvard.org/">Justice, an online Harvard course</a></h4>
<h4><a href="http://khanacademy.org">Khan Academy</a></h4>






<h4><a class="important" href="http://www.ted.com">TED</a><h4> 
<h4><a href="http://ed.ted.com">TEDEd</a></h4>
</div>
<h3>E-mail us at <a class="frontpage" href="mailto:scloginfo@gmail.com">scloginfo@gmail.com</a> with any further suggestions!</p>
</div>
</body>