 <%= stylesheet_link_tag    "start", media: "all", "data-turbolinks-track" => true %>


    <div class="navbar">
  <a class="navbar-brand navfont" href="#">SCLOG</a>
  <ul class="nav navbar-nav">
    <li class="navfont"><a href="/">Home</a></li>
    <li class="navfont selected"><a href="/start">Your Sclog</a></li>
    <li class="navfont"><a href="/ideas">Sclog Inspiration</a></li>
    <li class="navfont"><a href="/blogs">Sclog Blog</a></li>
  </ul>
</div>