/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
    background-color: #D05A00;
}


    h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    line-height: 46px;
    font-size: 200px;
    margin: 0 0 23px 0;
    color: #FEFFF8;
    }

    h2 {
    font-family: 'Amatic SC', cursive;
    color: #FEFFF8;}

    p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    margin: 0 0 23px 0;
    color: #29241E
    }

   .qmark {
        font-family:'Josefin Sans', sans-serif;
        font-size: 30px;
    }

    .navfont {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    margin: 0 0 0 0;
    color: #FEFFF8;
    }

    .important {
        color: #8A0651;
    }

    .navbar {
        background-color: #8A0651;
    }

 ul.nav li a {
    color: #FEFFF8;
 }

.selected {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity:.5;;
}